.process {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background: linear-gradient(to bottom, #243341, #602945);
}

.content {
    width: 60%;
    margin: auto;
}

.subHeading {
    margin-top: 30px;
    color: white;
}

.processCards {
    margin-top: 50px;
}

.processCard {
    box-sizing: border-box;
    border-radius: 0 70px 70px 70px;
    transition: all 0.5s;
    border: 2px solid #FFF;
    position: relative;
    z-index: 1;
    text-align: left;
    min-height: 450px;
    cursor: pointer;
}

.processCard::after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: -15px;
}

.processCard::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(159deg, #FFD6E7 0%, #FFF5F9 100%), url('/assets/pattern.webp');
    background-blend-mode: color;
    opacity: 0.3;
    border-radius: 0 70px 70px 70px;
    z-index: -1;
}

#processcard1 {
    background: linear-gradient(-159deg, #ffffff 0%, #ffddea 100%);
    border: 0.5px solid #991e5252;
}

#processcard2 {
    background: linear-gradient(-159deg, #FFF5C0 0%, #FFFEFB 100%);
    border: 0.5px solid #a48a0047;
}

#processcard3 {
    background: linear-gradient(-159deg, #D5F6C2 0%, #F0FFE8 100%);
    border: 0.5px solid #52893269;
}

#processcard4 {
    background: linear-gradient(-159deg, #D0E7FF 0%, #F7FBFF 100%);
    border: 0.5px solid #3e72a559;
}

#processcard5 {
    background: linear-gradient(-159deg, #D0E7FF 0%, #FFC9FF 100%);
    border: 0.5px solid #FFC9FF;
}

#processcard1::after {
    border-color: transparent transparent #991e5252 transparent;
}

#processcard2::after {
    border-color: transparent transparent #a48a0047 transparent;
}

#processcard3::after {
    border-color: transparent transparent #52893269 transparent;
}

#processcard4::after {
    border-color: transparent transparent #CAE7FF transparent;
}

#processcard5::after {
    all: unset;
}

#processcard1 {
    background-color: blue;
}

.icon {
    border-radius: 0 100% 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: -1px;
    margin-top: -1px;
}

.icon img {
    object-fit: contain;
}

#processcard1 .icon {
    background-color: #FFD8E9;
}

#processcard2 .icon {
    background-color: #FFF5BE;
}

#processcard3 .icon {
    background-color: #D0FDB5;
}

#processcard4 .icon {
    background-color: #CAE7FF;
}

#processcard5 .icon {
    background-color: #FFC9FF;
}

.cardContent {
    padding: 30px;
    padding-bottom: 50px;
}

.cardTitle,
.cardPara {
    color: var(--primary-color);
}

.cardTitle {
    font-size: 25px;
}

.cardPara {
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}

/* _________________________________________________ */

@media (max-width: 576px) {

    /* Styles for extra small devices */
    .process {
        padding: 50px 0;
    }

    .content {
        width: 100%;
    }

    .processCardsContainer {
        overflow-x: scroll;
    }

    .processCards {
        margin-top: 20px;
    }

    .icon {
        width: 90px;
        height: 90px;
    }

    .icon img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    .cardTitle {
        font-size: 22px;
    }

    .cardContent {
        padding: 30px;
    }

    .cardPara {
        font-size: 14px;
    }

    .processCard {
        min-height: 300px;
        border-radius: 0 45px 45px 45px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* Styles for small devices */
    .process {
        padding: 50px 0;
    }

    .content {
        width: 100%;
    }

    .processCards {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }
    .processCard {
        min-height: 300px;
        border-radius: 0 45px 45px 45px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium devices */

}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */
}