.testimonial {
    padding: 100px 0;
}

.heading {
    color: var(--primary-color);
    margin-bottom: 30px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    position: relative;
}



.right {
    background-color: #F7F7F7;
    padding: 100px;
    border-radius: 8px;
    padding-left: 200px;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 60%;
    margin-left: auto;
    position: relative;

}

.testiImage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50%;
}

.testiImage::before {
    content: '';
    width: 180px;
    height: 150px;
    position: absolute;
    top: -80px;
    left: -75px;
    background: url('/assets/testipattern1.png');
    z-index: -1;
}

.testiImage::after {
    content: '';
    width: 180px;
    height: 150px;
    position: absolute;
    bottom: -50px;
    right: -80px;
    background: url('/assets/testipattern2.png');
    z-index: -1;
}

.testiImage img {
    object-fit: cover;
    border-radius: 8px;

}

.contentHeading {
    color: var(--primary-color);
    font-size: 30px;
}

.stars {
    display: flex;
    list-style: none;
    margin: 20px 0;
}

.stars li {
    color: #E69800;
    font-size: 25px;
}

.contentSubHeading {
    font-weight: 400;
    margin-bottom: 30px;
}

.name {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.quote {
    width: 90px;
    height: 90px;
    background: linear-gradient(-80deg, #aed2e6, #f58cb8);
    border-radius: 100px;
    position: absolute;
    right: -45px;
    top: -45px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotate(180deg);
    align-self: center;
    padding-top: 31px;
}

.arrow {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    margin-left: 10%;
    margin-top: -10%;
}

.arrow img {
    cursor: pointer;
    object-fit: contain;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}


/* _________________________________________________ */

@media (max-width: 576px) {

    /* Styles for extra small devices */
    .testimonial {
        padding: 50px 0;
    }

    .heading {
        margin-bottom: 20px;
    }

    .content {
        display: block;
    }

    .right {
        padding: 20px;
        width: 100%;
    }

    .testiImage::after,
    .testiImage::before {
        content: unset;
    }

    .testiImage {
        all: unset;
    }

    .testiImage img {
        width: 100%;
        margin-top: 20px;
    }

    .quote {
        display: none;
    }

    .arrow {
        margin: 0;
        display: none;
    }

    .contentHeading {
        font-size: 22px;
    }

    .stars {
        margin: 10px 0 0 0;
        align-items: center;
    }

    .stars li svg {
        align-self: center;
    }

    .contentSubHeading {
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* Styles for small devices */
    .testimonial {
        padding: 50px 0;
    }

    .heading {
        margin-bottom: 20px;
    }

    .content {
        display: block;
    }

    .right {
        padding: 20px;
        width: 100%;
    }

    .testiImage::after,
    .testiImage::before {
        content: unset;
    }

    .testiImage {
        all: unset;
    }

    .testiImage img {
        width: 100%;
        margin-top: 20px;
    }

    .quote {
        display: none;
    }

    .arrow {
        margin: 0;
        display: none;
    }

    .contentHeading {
        font-size: 22px;
    }

    .stars {
        margin: 10px 0 0 0;
        align-items: center;
    }

    .stars li svg {
        align-self: center;
    }

    .contentSubHeading {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium devices */
    .testimonial {
        padding: 50px 0;
    }

    .heading {
        margin-bottom: 20px;
    }

    .content {
        display: block;
    }

    .right {
        padding: 20px;
        width: 100%;
    }

    .testiImage::after,
    .testiImage::before {
        content: unset;
    }

    .testiImage {
        all: unset;
    }

    .testiImage img {
        width: 100%;
        margin-top: 20px;
    }

    .quote {
        display: none;
    }

    .arrow {
        margin: 0;
        display: none;
    }

    .contentHeading {
        font-size: 22px;
    }

    .stars {
        margin: 10px 0 0 0;
        align-items: center;
    }

    .stars li svg {
        align-self: center;
    }

    .contentSubHeading {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */
}