.mobile {
    width: 50%;
    min-width: 50%;
    overflow: hidden;
    padding: 0.6rem;
    border-radius: 2rem;
    box-shadow: 10px 15px 40px #00000030;
    background: white;
    margin-bottom: 45px;
    flex: 1 1 50%;
}

.head {
    background: linear-gradient(to bottom, #243341, #602945);
    border-radius: 1.5rem 1.5rem 0.4rem 0.4rem;
    color: white;
}

.notch {
    height: 1rem;
    width: 47%;
    background: white;
    margin: 0 auto 0.5rem;
    border-radius: 0 0 1rem 1rem;
}

.profilebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-left: 5px;
}

.left {
    display: flex;
    align-items: center;
}

.left i {
    margin-right: 0.5rem;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.5rem;
    border: 2px solid #e8e8e8;
    border-radius: 100%;
}

.pdetail h3 {
    font-size: 0.9rem;
    font-weight: 400;
    color: #e8e8e8;
}

.pdetail p {
    font-size: 0.6rem;
    color: #cacacac4;
    font-weight: 400;
}

.leftArrow {
    font-size: 28px;
}

.eachmessage {
    font-size: 0.6rem;
    width: 10rem;
    padding: 0.5rem;
    margin: 0.2rem 0;
}

.received {
    background-color: white;
    color: var(--primary-color);
    border-radius: 0.7rem 0.7rem 0.7rem 0.2rem;
    box-shadow: -1px 2px 2px #00000026;
    transform: translateX(-100px) scale(0.5);
    opacity: 0;
}

.sent {
    background: #FFFEFF;
    align-self: flex-end;
    color: var(--primary-color);
    border-radius: 0.7rem 0.7rem 0.3rem 0.7rem;
    box-shadow: 1px 2px 2px #0000000f;
    transform: translateX(100px) scale(0.5);
    opacity: 0;
}

.imgbox {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0.3rem;
}

.imgbox img {
    width: 2.5rem;
    border-radius: 0.5rem;
    margin: 0.1rem;
    transform: scale(0);
    opacity: 0;
}

.animated {
    transition: 0.3s ease-in-out !important;
    transform: translateX(0px) scale(1) !important;
    opacity: 1 !important;
}

.chatbox {
    background: #F5F3F8;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 24rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #243341, #602945);
    border-radius: 0.7rem 0.7rem 0.7rem 0.2rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: white;
    width: 11rem;
    box-shadow: -1px 2px 2px #00000026;
    transform: translateX(-100px) scale(0.5);
    opacity: 0;
}

.det {
    display: flex;
    align-items: center;
}

.det input {
    border: 0;
    margin-right: 0.3rem;
}

.det p {
    font-size: 0.7rem;
    color: #f5f5f5c9;
}

.price {
    font-size: 1.1rem;
    font-weight: 500;
}

.sendbox {
    position: relative;
    background: #F5F3F8;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 0 0.5rem 0.5rem;
    padding-top: 7px;
}

.sendbox input {
    border: 0;
    outline: 0;
    background: white;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    font-size: 0.7rem;
    color: rgb(173, 173, 173);
    height: 2.3rem;
}

.submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.7rem;
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    background: #382153;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;

}

.text {
    width: 27rem;
    margin-left: 8rem;
}

.text h1 {
    color: #412D53;
    font-size: 2.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.text p {
    color: darkgrey;
    line-height: 1.7;
    font-size: 0.95rem;
}

.attribution {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: #000000d6;
    color: white;
    padding: 0.8rem;
    font-weight: 300;
    border-radius: 0.4rem;
    line-height: 1.5;
}

.attribution a {
    color: whitesmoke;
    font-weight: 400;
}

.chatbox::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 850px) {
    .text {
        width: auto;
        margin: 0 1rem 0 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .maindiv {
        flex-direction: column;
        padding: 5rem 0 7rem;
    }

    .mobile {
        margin-bottom: 3rem;
    }

    .text {
        margin: 0 2rem;
        text-align: center;
    }
}


/* _________________________________________________ */

@media (max-width: 576px) {
    /* Styles for extra small devices */
    .mobile{
        max-width: 300px;
        margin: auto;
        flex:none;
        width: 300px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* Styles for small devices */
    .mobile{
        max-width: 300px;
        margin: auto;
        flex:none;
        width: 300px;
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium devices */
    .mobile{
        min-width: 280px;
        max-width: 280px;
        margin: auto;
        flex:none;
        width: 280px;
        margin-bottom: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */
}