.business {
    padding: 100px 0;
}

.heading {
    font-size: 35px;
}


.business-content {
    border-radius: 25px;
    background: linear-gradient(143deg, #0d1318, #270e1bc9);
    box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    width: 80%;
    margin: auto;
    border: 2px solid pink;
}

.business-content::before {
    content: '';
    width: 150px;
    height: 70px;
    background-image: url('/assets/aboutctapattern1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.business-content::after {
    content: '';
    width: 100px;
    height: 50px;
    background-image: url('/assets/aboutctapattern2.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


.business .bus-cont {
    margin: auto;
}

.business .bus-cont .bus-sub-heading {
    margin: 20px 0;
    color: var(--white);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.business-btn button {
    border: none;
    padding: 12px 20px;
    color: var(--white);
    border-radius: 80px;
    box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.business-btn a:first-child button {
    margin-right: 10px;
}

.business-btn a:last-child button {
    background-image: linear-gradient(145deg, #F58CB8 0%, #9FE2F0 100%);
    color: var(--white);
}

.keyfactorTitle {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
    color: white;
    margin-bottom: 20px;
}

@media (max-width: 576px) {

    /* Styles for extra small devices */
    .business {
        padding-bottom: 0;
        padding-top: 50px;
    }

    .business-content {
        padding: 40px 30px;
    }

    .business .bus-cont {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .business .bus-cont .bus-sub-heading {
        margin: 20px 0;
    }

    .business-btn button {
        padding: 8px 15px;
    }

    .business-content::after {
        width: 100px;
        height: 100px;
        top: 0;
        right: 0;
    }

    .business-content::before {
        height: 100px;
        width: 100px;
        bottom: 0;
        left: 0;
    }

    .heading {
        font-size: 25px;
    }

    .keyfactorTitle {
        font-size: 16px;
    }

    .business-content {
        width: 100%;
    }

    .business .bus-cont .bus-sub-heading {
        width: 100%;
    }

    .business-content::before,
    .business-content::after {
        content: unset;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* Styles for small devices */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium devices */
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */
}

@media (min-width: 1200px) {
    /* Styles for extra large devices */
}