.usecase {
    background: linear-gradient(to bottom, #243341, #602945);
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    width: 55%;
    padding-left: 8%;
    padding-right: 30px;
}

.mainImage {
    width: 45%;
    height: 850px;
    object-fit: cover;
    margin-bottom: -10px;
}

.cards {
    margin-top: 30px;
}

.card {
    display: flex;
    text-align: left;
    align-items: center;
    box-shadow: 0 10px 40px 4px rgba(0, 0, 0, 0.08);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    background: white;
}

.cardHeading {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.cardSubHeading {
    font-size: 16px;
    font-weight: 400;

}

.cardContent {
    padding-left: 20px;
}

/* _________________________________________________ */

@media (max-width: 576px) {

    /* Styles for extra small devices */
    .usecase {
        padding-top: 50px;
    }

    .cards {
        margin-top: 20px;
    }

    .content {
        flex-direction: column;
        padding: 0 16px;
    }

    .left {
        width: 100%;
        padding: 0;
    }

    .mainImage {
        width: 100%;
        height: 400px;
        object-position: top;
        border-radius: 8px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* Styles for small devices */
    .usecase {
        padding-top: 50px;
    }

    .cards {
        margin-top: 20px;
    }

    .content {
        flex-direction: column;
        padding: 0 16px;
    }

    .left {
        width: 100%;
        padding: 0;
    }

    .mainImage {
        width: 100%;
        height: 400px;
        object-position: top;
        border-radius: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* Styles for medium devices */
    .usecase {
        padding-top: 50px;
    }

    .cards {
        margin-top: 20px;
    }

    .content {
        flex-direction: column;
        padding: 0 16px;
    }

    .left {
        width: 100%;
        padding: 0;
    }

    .mainImage {
        width: 100%;
        height: 700px;
        object-position: top;
        border-radius: 8px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */
}