.about {
    padding-bottom: 100px;
    background-color: var(--white);
}

.about-content {
    padding: 50px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    background: transparent;
    background-image: linear-gradient(90deg, white, white),
        linear-gradient(90deg, #ff73ad, #9dd3f0);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 5px solid transparent;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    width: 90%;
    margin-top: -90px;
}

.about-content::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 85px;
    right: -88px;
    background-image: url('/assets/about-dot-right.png');
    width: 72px;
    height: 136px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-content::after {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: -10px;
    left: -92px;
    background-image: url('/assets/about-dot-left.png');
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-content p {
    margin-bottom: 20px;
}

.about-content p:last-child {
    margin-bottom: 0;
}

.about-content .about-heading {
    color: var(--primary-color);
    padding: 20px 0;
}

.about-content .about-sub-heading {
    font-weight: 400;
    color: var(--primary-color);
    padding: 0 20px;
}

.about-content .about-sub-heading::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.about-content .about-sub-heading::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.about-content .about-sub-heading::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #909090;
}

.cards {
    display: flex;
    margin-top: 30px;
}

.card {
    display: flex;
    width: 50%;
    text-align: left;
}

.cardHeading {
    color: var(--primary-color);
    font-size: 25px;
    margin-bottom: 30px;
}

.cardSubHeading {
    font-size: 16px;
    font-weight: 400;

}

.cardContent {
    padding-left: 20px;
}

.icon {
    width: 70px;
    height: 70px;
    border: 2px solid #E69BC2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.icon img {
    object-fit: contain;
    padding: 5px;
}

@media (max-width: 576px) {

    /* Styles for extra small devices */
    .about {
        padding: 50px 0;
    }

    .about-content {
        padding: 20px;
    }

    .about-content .about-heading {
        padding: 20px 0;
    }

    .about-content p {
        margin-bottom: 10px;
    }

    .about-left {
        order: 2;
    }

    .about .about-sub-heading {
        max-height: 300px;
        padding-right: 10px;
        padding-left: 0;
        overflow-y: auto;
    }

    .about-content::after,
    .about-content::before {
        content: unset;
    }

    .about-content .about-sub-heading::-webkit-scrollbar {
        width: 5px;
    }

    .cards {
        display: block;
        margin-top: 0px;
    }

    .card {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .about-content {
        width: 95%;
    }

    .cardContent {
        padding-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .cardHeading {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* Styles for small devices */
    .about {
        padding: 50px 0;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .about-content .about-heading {
        padding: 20px 0;
    }

    .about-content p {
        margin-bottom: 10px;
    }

    .about-left {
        order: 2;
    }

    .about .about-sub-heading {
        max-height: 100%;
        padding-right: 0;
        overflow-y: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* Styles for medium devices */
    .about-content .about-sub-heading {
        max-height: 200px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    /* Styles for large devices */
    .about-content .about-sub-heading {
        max-height: 300px;
    }
}

@media (min-width: 1200px) {
    /* Styles for extra large devices */
}