.use-case {
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: var(--white);
}

.use-case-content {
    text-align: center;
}

.use-case-content .usecase-heading,
.use-case-content .usecase-sub-heading {
    color: var(--primary-color);
}

.tabs {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.tab-item {
    display: flex;
    align-items: center;
    padding: 25px 5px;
    text-align: left;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-weight: 400;

}

.tab-item.active {
    background-image: linear-gradient(109deg, #F58CB8 16.91%, #9FE2F0 74.64%);
    border-image: linear-gradient(109deg, #F58CB8 16.91%, #9FE2F0 74.64%) 1;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.tab-icon {
    width: 30px;
    margin-right: 10px;
    height: 30px;
}

.tab-content {
    display: flex;
    padding-top: 30px;
    display: none;
}

.tab-content.active {
    display: flex;
}

.tab-content p {
    margin-bottom: 20px;
}

.tab-content .left-content,
.tab-content .right-content {
    width: 50%;
    text-align: left;
}

.tab-content .left-content {
    padding-right: 30px;
}

.tab-content .right-content img {
    width: 100%;
    height: auto;
}

.tab-content .left-content .usecase-heading {
    margin-bottom: 30px;
    font-size: 40px;
}

.tab-content .left-content .usecase-sub-heading {
    font-weight: 400;
}

.tab-content .left-content .tab-content-btn button {
    border-radius: 80px;
    padding: 12px 20px;
    border: none;
    color: var(--white);
    cursor: pointer;
    background: linear-gradient(128deg, #F58CB8 0%, #9FE2F0 100%);
}

@media (max-width: 576px) {

    /* Styles for extra small devices */
    .use-case {
        padding: 50px 0;
    }

    /* .tab-content{
        display: none;
    } */
    .tab-content.active {
        display: block;
        padding-top: 10px;
    }

    .tab-content .left-content .usecase-heading {
        margin: 10px 0;
    }

    .tab-content .left-content,
    .tab-content .right-content {
        width: 100%;
    }

    .tab-content .left-content {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .tab-item {
        padding: 10px 15px;
    }

    .tabs-container {
        overflow-x: scroll;
    }

    .tabs {
        padding: 0;
        min-width: 1350px;
        margin-top: 20px;
        justify-content: flex-start;
    }

    .tab-content .left-content .usecase-heading {
        font-size: 25px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* Styles for small devices */
    .tabs-container {
        overflow-x: scroll;
    }

    .tabs {
        padding: 0;
        min-width: 1350px;
        margin-top: 20px;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* Styles for medium devices */
    .tabs {
        padding: 0;
    }

    .tab-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .tabs-container {
        overflow-x: scroll;
    }

    .tabs {
        padding: 0;
        min-width: 1350px;
        margin-top: 20px;
        justify-content: flex-start;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */
    .tabs-container {
        overflow-x: scroll;
    }

    .tabs {
        padding: 0;
        min-width: 1350px;
        margin-top: 20px;
        justify-content: flex-start;
    }
}

@media (min-width: 1200px) {
    /* Styles for extra large devices */
    
}